// Define your variable overrides here
$enable-shadows: true;
$enable-gradients: true;

// Custom Scrollbar
::-moz-selection {
  background: #ced4da;
}

::selection {
  background: #ced4da;
}

::-webkit-scrollbar {
  width: 5px;
  height: 1px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #ced4da;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #f8f9fa;
}

.custom-img {
  width: 100%;
}

.custom-table {
  width: 100%;
  margin: 1rem 0;
  text-align: center;
  vertical-align: middle;

  th {
    padding: 10px;
    background-color: #495057;
    color: #f8f9fa;
    border-left: #f8f9fa 1px solid;
  }

  tr, td {
    padding: 5px;
    border: 1px solid #495057;
  }
}

.custom-h {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 600;
  color: #495057;
}

// Include Bootstrap and BootstrapVue SCSS files
@import '../../node_modules/bootstrap/scss/bootstrap';
@import '../../node_modules/bootstrap-vue/src/index';
