// Define your variable overrides here
$enable-shadows: true;
$enable-gradients: true;

// Custom Scrollbar
::-moz-selection {
  background: #ced4da;
}

::selection {
  background: #ced4da;
}

::-webkit-scrollbar {
  width: 5px;
  height: 1px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #ced4da;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #f8f9fa;
}

// Include Bootstrap and BootstrapVue SCSS files
@import '../../node_modules/bootstrap/scss/bootstrap';
@import '../../node_modules/bootstrap-vue/src/index';
